{% extends "generic.html" %}

{% block h1 %}Карточка клиента {{ object.name }} # {{ object.id }} {% if msg %}{{ msg }}{% endif %}{% endblock %}

{% block content %}
    <form method="post">
        <table id="table-id">

            <tr>
                <td>Имя</td>
                <td>Телефон</td>
                <td>Последняя сделка</td>
                <td>Сумма</td>
                <td>RFM</td>
                <td>Последняя рассылка</td>
                <td>Активен</td>
                <td></td>
            </tr>
            <tr>
                <td>{{ object.name }}</td>
                <td>{{ form.phone }}</td>
                <td>{{ object.last_deal }}</td>
                <td>{{ object.pays }}</td>
                <td>{{ object.rfm_category }}</td>
                <td>{{ object.last_sent }}</td>
                <td>{{ form.active_client }}</td>
                <td><input type="submit" value="Сохранить" class="button primary fit"></td>
            </tr>
        </table>
        {% if form.errors %}{{ form.errors }}{% endif %}
        {% csrf_token %}
    </form>

<p><a href="{% url "client_list" tab.slug %}" class="button primary fit">Вернуться к списку клиентов</a>
    <hr>
</p>
    {% for deal in obj_list %}
        {{ deal }}
    {% endfor %}

{% endblock %}
